<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load bootstrap4 %}
    <!-- CSS -->
    {% bootstrap_css %}
    {% bootstrap_jquery %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo_icon_white.png' %}" type="image/png">

    <!-- JS -->
    {% bootstrap_javascript %}

    <meta charset="UTF-8">
    <title>{% block title %}TodoApp{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="#"><b style="color:#E40B00;">TO</b><b style="color:#FFF;">DO</b></a>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>