<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load bootstrap4 %}
    <!-- CSS -->
    {% bootstrap_css %}
    {% bootstrap_jquery %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo_icon_white.png' %}" type="image/png">

    <!-- JS -->
    {% bootstrap_javascript %}

    <meta charset="UTF-8">
    <title>{% block title %}TodoApp{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="#"><b style="color:#E40B00;">TO</b><b style="color:#FFF;">DO</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">My todo <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Projects</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Deadlines
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">blabla</a>
          <a class="dropdown-item" href="#">blabla</a>
          <a class="dropdown-item" href="#">blabla</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>