<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    {% load bootstrap4 %}
    <!-- CSS -->
    {% bootstrap_css %}

    <!-- JS -->
    {% bootstrap_javascript %}
    {% bootstrap_jquery %}
    <script>
        function AddTodoClick(){
            document.getElementById('todoList').classList.toggle('d-none');
            document.getElementById('addTodoForm').classList.toggle('d-none');
            document.getElementById('addTodoBtn').classList.toggle('active');
        }
    </script>

    <meta charset="UTF-8">
    <title>{% block title %}TodoApp{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="#"><b style="color:#E40B00;">TO</b><b style="color:#FFF;">DO</b></a>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>