{% extends 'base.html' %}
{% block content %}
    <div id="todoList">

            {% for i in todos %}
                <li class="list-group-item d-flex justify-content-between align-items-center m-2 rounded">
                    <div class="title">
                        {% if not i.failed %}
                            <button style="font-size: 10px" class="rounded btn btn-outline-success">&#10004</button>
                        {% endif %}
                        <button style="font-size: 10px" class="rounded btn btn-outline-danger">&#10006</button>
                        {{ i.title }}
                    </div>
                    <div class="deadline">
                        {{ i.deadline }}
                    </div>
                    {% if i.failed %}
                        <span class="badge badge-danger badge-pill">Провалено</span>
                    {% elif i.lastDay %}
                        <span class="badge badge-warning badge-pill">Последний день</span>
                    {% else %}
                        <span class="badge badge-primary badge-pill">Выполняется</span>
                    {% endif %}
                </li>
            {% endfor %}
        {% if not todos %}
            <div class="text-center m-5 display-3">
                Нет проваленных задач
            </div>
        {% endif %}
    </div>
{% endblock %}