{% extends 'base.html' %}
{% block title %}Todo List{% endblock %}
{% block content %}
<button type="button" class="btn btn-outline-success pos float-right">Add +</button>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Completed</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">None completed</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Failed</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Frosted</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Canceled</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Deadline</a>
  </li>
</ul>

    {% for i in todos %}
        <li class="list-group-item d-flex justify-content-between align-items-center m-2 rounded">
            <div class="title">
                <input type="checkbox" class="m-2">
                {{ i.title }}
            </div>
            <div class="deadline">
                {{ i.deadline }}
            </div>
            <span class="badge badge-{{ i.status.last.styleKey }} badge-pill">{{ i.status.last.title }}</span>
        </li>
    {% endfor %}

<form class="todoAddForm" method="post" action="{% url 'addTodo' %}">
    {% csrf_token %}
    {{ todoAddForm }}
    <div class="container">
        <button class="btn btn-lg btn-primary btn-block mt-2 w-25 ml-auto mr-auto" type="submit">Добавить</button>
    </div>
</form>

{% endblock %}