{% extends 'base.html' %}
{% block content %}
    <div id="todoList">
            {% for i in todos %}
                <div class="list-group-item m-2">
                    <div class="d-flex justify-content-between align-items-center m-2 rounded">
                        <div class="title">
                        {% if not i.failed and not i.status %}
                        <a href="{% url 'execute' el=i.id %}">
                            <button style="font-size: 5px" class="rounded btn btn-outline-success">&#10004</button>
                        </a>
                        {% endif %}
                        <a href="{% url 'delete' el=i.id %}">
                            <button style="font-size: 5px" class="rounded btn btn-outline-danger">&#10006</button>
                        </a>
                            <button id="btn-{{ i.id }}" class="btn">{{ i.title }}</button>
                    </div>
                    <div class="deadline">
                        {{ i.deadline }}
                    </div>
                    {% if i.status %}
                        <span class="badge badge-success badge-pill">Выполнено</span>
                    {% elif i.failed %}
                        <span class="badge badge-danger badge-pill">Провалено</span>
                    {% elif i.lastDay %}
                        <span class="badge badge-warning badge-pill">Последний день</span>
                    {% else %}
                        <span class="badge badge-primary badge-pill">Выполняется</span>
                    {% endif %}
                    </div>
                    <div id="desc-{{ i.id }}" class="container d-none">
                        <hr>
                        {{ i.description }}
                    </div>
                    <script>
                        document.getElementById('btn-{{ i.id }}').onclick = function (){
                            document.getElementById('desc-{{ i.id }}').classList.toggle('d-none');
                        }
                    </script>
                </div>
            {% endfor %}
        {% if not todos %}
            <div class="text-center m-5 display-3">
                Нет активных задач
            </div>
        {% endif %}
    </div>
{% endblock %}