{% extends 'base.html' %}
{% block title %}Todo List{% endblock %}
{% block content %}
<button id="addTodoBtn" type="button" class="btn btn-outline-success pos float-right" onclick="AddTodoClick()">Add +</button>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Completed</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">None completed</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Failed</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Frosted</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Canceled</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Deadline</a>
  </li>
</ul>
<div id="todoList">
    {% for i in todos %}
        <li class="list-group-item d-flex justify-content-between align-items-center m-2 rounded">
            <div class="title">
                {% if not i.failed %}
                    <button style="font-size: 10px" class="rounded btn btn-outline-success">&#10004</button>
                {% endif %}
                <button style="font-size: 10px" class="rounded btn btn-outline-danger">&#10006</button>
                {{ i.title }}
            </div>
            <div class="deadline">
                {{ i.deadline }}
            </div>
            {% if i.failed %}
                <span class="badge badge-danger badge-pill">Провалено</span>
            {% elif i.lastDay %}
                <span class="badge badge-warning badge-pill">Последний день</span>
            {% else %}
                <span class="badge badge-primary badge-pill">Выполняется</span>
            {% endif %}

            <span class="badge badge-{{ i.status.last.styleKey }} badge-pill">{{ i.status.last.title }}</span>
        </li>
    {% endfor %}
</div>

<form id="addTodoForm" class="todoAddForm d-none" method="post" action="{% url 'addTodo' %}">
    {% csrf_token %}
    {% for inp in todoAddForm %}
        {{ inp }}
    {% endfor %}
    <div class="container">
        <button class="btn btn-lg btn-primary btn-block mt-2 w-25 ml-auto mr-auto" type="submit">Добавить</button>
    </div>
</form>

{% endblock %}